<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="col-md-12">
       <h4>Все сотрудники</h4>
        <div class="table-responsible">
            <table width="100%">
                <thead>
                <th>ID</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Контакты</th>
                </thead>
                <tbody>
                {% for employer in employers %}
                <tr>
                    <td>{{ employer.id }}</td>
                    <td><a href="{{ employer.get_absolute_url }}">{{ employer.name }}</a></td>
                    <td>{{ employer.email }}</td>
                    <td>{{ employer.phone }}</td>


                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</body>
</html>